fastapi==0.116.2
geopandas==1.1.4
httpx==0.28.1
numpy==2.2.6
odc-geo==0.5.3
odc-loader==0.6.4
odc-stac==0.5.3
planetary-computer==1.0.0
pyarrow==21.0.0
pydantic-settings==2.14.1
pystac-client==0.9.0
pystac-core==1.15.2
pystac-ext-classification==2.0.1
pystac-ext-datacube==2.2.1
pystac-ext-eo==1.1.1
pystac-ext-file==2.1.1
pystac-ext-grid==1.1.1
pystac-ext-item-assets==1.0.1
pystac-ext-label==1.0.2
pystac-ext-mgrs==1.0.1
pystac-ext-mlm==1.4.1
pystac-ext-pointcloud==1.0.1
pystac-ext-projection==2.0.1
pystac-ext-raster==1.1.1
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.1
pystac-ext-sat==1.0.1
pystac-ext-scientific==1.0.1
pystac-ext-storage==2.0.1
pystac-ext-table==1.2.1
pystac-ext-timestamps==1.1.1
pystac-ext-version==1.2.1
pystac-ext-view==1.0.1
pystac-ext-xarray-assets==1.0.1
pystac==1.15.2
pytest-asyncio==1.4.0
pytest==9.0.3
rasterio==1.5.1
rioxarray==0.23.0
shapely==2.1.2
structlog==26.1.0
uvicorn==0.36.0
xarray==2026.7.0
zarr==3.4.0
earthaccess==0.19.0
h5py==3.14.0
